<h3>Sales</h3>

<div>
  Start Date: {{startDate| date: 'mediumDate'}}
  <form class="form-inline">
    <div class="form-group">
      <div class="input-group">
        <input class="form-control" placeholder="yyyy-mm-dd"
               name="dp" (dateSelect)="setStartDate($event)" ngbDatepicker #start="ngbDatepicker">
        <div class="input-group-append">
          <button class="btn btn-outline-secondary" (click)="start.toggle()" type="button">
            <i class="far fa-calendar-alt"></i>
          </button>
        </div>
      </div>
    </div>
  </form>
</div>

<div>
  End Date: {{endDate| date: 'mediumDate'}}
  <form class="form-inline">
    <div class="form-group">
      <div class="input-group">
        <input class="form-control" placeholder="yyyy-mm-dd"
               name="dp" (dateSelect)="setEndDate($event)" ngbDatepicker #end="ngbDatepicker">
        <div class="input-group-append">
          <button class="btn btn-outline-secondary" (click)="end.toggle()" type="button">
            <i class="far fa-calendar-alt"></i>
          </button>
        </div>
      </div>
    </div>
  </form>
</div>

<table class="table">
  <thead>
  <tr>
    <th scope="col">#</th>
    <th scope="col">Product</th>
    <th scope="col">Sales Person</th>
    <th scope="col">Sales Commission</th>
    <th scope="col">Customer</th>
    <th scope="col">Sale Date</th>
    <th scope="col">Price</th>
    <th scope="col"></th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let sale of sales">
    <th scope="row">{{sale.id}}</th>
    <td>{{sale.product.name}}</td>
    <td>{{sale.salesPerson.firstName}} {{sale.salesPerson.lastName}}</td>
    <td>{{sale.product.commissionPercentage * sale.product.salePrice | currency: 'USD'}}</td>
    <td>{{sale.customer.firstName}} {{sale.customer.lastName}}</td>
    <td>{{sale.salesDate| date: 'mediumDate'}}</td>
    <td>{{sale.product.salePrice | currency: 'USD'}}</td>
    <td><a [routerLink]="[sale.id]">Edit</a></td>
  </tr>
  </tbody>
</table>

<a [routerLink]="[0]"><button class="btn">Add</button></a>

