<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
</div>

<ul>
  <li><a routerLink="/customers">Customers</a></li>
  <li><a routerLink="/discounts">Discounts</a></li>
  <li><a routerLink="/products">Products</a></li>
  <li><a routerLink="/reports">Reports</a></li>
  <li><a routerLink="/sales">Sales</a></li>
  <li><a routerLink="/sales-persons">Sales Persons</a></li>
</ul>

<router-outlet></router-outlet>
