<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
</div>

<ul class="nav">
  <li class="nav-item">
    <a class="nav-link" routerLink="/customers" [routerLinkActive]="['active']">Customers</a></li>
  <li class="nav-item">
    <a class="nav-link" routerLink="/discounts" [routerLinkActive]="['active']">Discounts</a></li>
  <li class="nav-item">
    <a class="nav-link" routerLink="/products" [routerLinkActive]="['active']">Products</a></li>
  <li class="nav-item">
    <a class="nav-link" routerLink="/reports" [routerLinkActive]="['active']">Reports</a></li>
  <li class="nav-item">
    <a class="nav-link" routerLink="/sales" [routerLinkActive]="['active']">Sales</a></li>
  <li class="nav-item">
    <a class="nav-link" routerLink="/sales-persons" [routerLinkActive]="['active']">Sales Persons</a></li>
</ul>

<router-outlet></router-outlet>
