<h3>Products</h3>

<table class="table">
  <thead>
  <tr>
    <th scope="col">#</th>
    <th scope="col">Name</th>
    <th scope="col">Manufacturer</th>
    <th scope="col">Style</th>
    <th scope="col">Purchase Price</th>
    <th scope="col">Sale Price</th>
    <th scope="col">Quantity Available</th>
    <th scope="col">Commission</th>
    <th scope="col"></th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let product of products">
    <th scope="row">{{product.id}}</th>
    <th scope="row">{{product.name}}</th>
    <th scope="row">{{product.manufacturer}}</th>
    <th scope="row">{{product.style}}</th>
    <th scope="row">{{product.purchasePrice|currency:'USD'}}</th>
    <th scope="row">{{product.salePrice|currency:'USD' }}</th>
    <th scope="row">{{product.quantityAvailable}}</th>
    <th scope="row">{{product.commissionPercentage|percent}}</th>
    <td><a [routerLink]="[product.id]">Edit</a></td>
  </tr>
  </tbody>
</table>
